<div id="gallery-wrap">
	<ul id="gallery">
		<% @pictures.each do |picture| %>
			<li class="picture"><%= image_tag(picture.photo.slide) %></li>
		<% end %>
	</ul>
</div>
<div id="gallery-controls">
  <%= link_to '<<', {}, :id => "gallery-prev" %>
	<%= link_to '>>', {}, :id => "gallery-next" %>
</div>

