<div class="span-24">Diensten plaatje</div>

<nav>
	<%= link_to "Grondwerk", diensten_grondwerk_path %>
	<%= link_to "Bestraten", diensten_bestraten_path %>
	<%= link_to "Tuinaanleg", diensten_tuinaanleg_path %>
	<%= link_to "Slopen", diensten_slopen_path %>
</nav>

