<div class="span-24 header-image rounded-top-corners">
	<div class="diensten-header rounded-top-corners"></div>
</div>
<nav id="sub-navigation" class="prepend-1 span-23 last">
	<%= link_to "Grondwerk", diensten_grondwerk_path, :class => action_active?('grondwerk') %>
	<%= link_to "Bestraten", diensten_bestraten_path, :class => action_active?('bestraten') %>
	<%= link_to "Tuinaanleg", diensten_tuinaanleg_path, :class => action_active?('tuinaanleg') %>
	<%= link_to "Slopen", diensten_slopen_path, :class => action_active?('slopen') %>
</nav>

