<div class="span-24">Diensten plaatje</div>

<nav id="sub-navigation">
	<%= link_to "Grondwerk", diensten_grondwerk_path, :class => action_active?('grondwerk') %>
	<%= link_to "Bestraten", diensten_bestraten_path, :class => action_active?('bestraten') %>
	<%= link_to "Tuinaanleg", diensten_tuinaanleg_path, :class => action_active?('tuinaanleg') %>
	<%= link_to "Slopen", diensten_slopen_path, :class => action_active?('slopen') %>
</nav>

