<% content_for :title do %>
	 | Bestraten
<% end %>

<%= render "sub_menu" %>

<div class="prepend-2 span-20 append-2 last">
	<h2>Bestraten</h2>
	<p>Find me in app/views/diensten/index.html.erb</p>
</div>
