<% content_for :title do %>
	 | Afgraven, riolering aanleggen en containerverhuur
<% end %>

<%= render "sub_menu" %>

<div class="prepend-1 span-22 append-1 last">
	<%= manageable_layout_content_for :grondwerk %>
</div>

<%= render 'slider' %>

<% if admin_signed_in? %>
	<%= render 'admin_actions' %>
<% end %>
