<% content_for :title do %>
	 | Afgraven, riolering aanleggen en containerverhuur
<% end %>

<%= render "sub_menu" %>

<div class="prepend-3 span-18 append-3 last spacer-top-bottom">
	<%= manageable_layout_content_for :grondwerk %>
</div>

<%= render 'slider' %>

<% if admin_signed_in? %>
	<%= render 'admin_actions' %>
<% end %>
