<% content_for :title do %>
	 | Tuinaanleg
<% end %>

<%= render "sub_menu" %>

<div class="prepend-2 span-20 append-2 last">
	<h2>Tuinaanleg</h2>
	<p>Find me in app/views/diensten/index.html.erb</p>
</div>

<% if admin_signed_in? %>
	<%= render 'admin_actions' %>
<% end %>
