<% content_for :title do %>
	 | Brabants loonwerkbedrijf | Over ons
<% end %>

<div class="span-24 header-image rounded-top-corners">
	<div class="about-header rounded-top-corners"></div>
</div>
<div class="span-24 spacer"></div>
<div class="prepend-3 span-18 append-3 last">
	<%= manageable_layout_content_for :over_ons %>
</div>
