<% content_for :title do %>
	 | Over ons
<% end %>

<div class="span-24 header-image rounded-top-corners">
	<div class="about-header rounded-top-corners"></div>
</div>
<div class="span-24 spacer"></div>
<div class="prepend-1 span-22 append-1 last">
	<%= manageable_layout_content_for :over_ons %>
</div>
