<% content_for :title do %>
	 | Contact
<% end %>

	<div class="prepend-1 span-14">
		<h2>Neem contact op</h2>
		<%= render "form" %>
	</div>

	<div class="prepend-1 span-7 append-1 last">
		<%= manageable_layout_content_for :contact %>
	</div>

