<% content_for :title do %>
	 | Contact
<% end %>

<div class="prepend-1 span-14 append-1">
	<h2>Neem contact op</h2>
	<%= render "form" %>
</div>

<div class="span-7">
	<%= manageable_layout_content_for :contact %>
</div>
