.showgrid { background:url('/assets/grid.png'); }

.align-right {
    float: right;
}

.center-text {
	text-align:center;
}

#main-navigation {
.true{color:red;}
.false{}
}

#sub-navigation {
.true{color:red;}
.false{}
}
