body{
	background:rgb(27,168,211);
	width: 100%;
  display: table;
}

#header{
	h1{
		color:white;
		font-family: arial, sans-serif;
	}
}

.spacer {
	height:15px;
}
.rounded-top-corners{
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	-moz-border-radius-topleft:15px;
	-moz-border-radius-topright:15px;
}

.header-image{
	height:175px;
	margin-bottom:2px;
}

.home-header{
	width:946px;
	height:171px;
	border:2px solid white;
	background:url('home.png');
}
.diensten-header{
	width:946px;
	height:171px;
	border:2px solid white;
	background:url('diensten.png');
}
.about-header{
	width:946px;
	height:171px;
	border:2px solid white;
	background:url('over-ons.png');
}
.contact-header{
	width:946px;
	height:171px;
	border:2px solid white;
	background:url('contact.png');
}
.verhuur-header{
	width:946px;
	height:171px;
	border:2px solid white;
	background:url('verhuur.png');
}

.main-background {
	padding-top:30px;
	background:url('background.jpg') bottom repeat-x;
}

.content-background{
	overflow:hidden;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	-moz-border-radius-topleft:15px;
	-moz-border-radius-topright:15px;
	background:white url('container-background.png') bottom repeat-x;
	padding-bottom:40px;
}

#footer-outer{
	position:relative;
	height:272;
}

#footer {
	position:absolute;
	width:100%;
	top:-40px;
	color:#eeeeee;
	background:url('gras.png') repeat-x;
	height:272;
	font-family:Garamond, serif;
	.footer-main{
		margin-top:110px;
	}
}

.showgrid { background:url('/assets/grid.png'); }

.align-right {
  float: right;
}

.center-text {
	text-align:center;
}

.center-div {
	margin-left:auto;
	margin-right:auto;
}

#main-navigation {
	margin-right:5px;
	a {
		font-size:16px;
		text-decoration:none;
		margin:5px;
		padding:5px;
	}
	.true{
		background:white;
		color:black;
		border-top-left-radius:5px;
		border-top-right-radius:5px;
		-moz-border-radius-topleft:5px;
		-moz-border-radius-topright:5px;
	}
	.false{
		color:white;
		&:hover{
			color:black;
		}
	}
}

#sub-navigation {
	margin-bottom:20px;
	a {
		font-size:16px;
		text-decoration:none;
		margin:5px;
		padding:5px;
		color:black;
	}
	.true{
		background:#3cb9d5;
		border-bottom-left-radius:5px;
		border-bottom-right-radius:5px;
		-moz-border-radius-bottomleft:5px;
		-moz-border-radius-bottomright:5px;
	}
	.false{}
}

#admin-box{
	position:fixed;
	right:10px;
	top:10px;
	background:white;
	border:solid black 2px;
	height:75px;
	width:130px;
	text-align:center;
}
