// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.diensten {
	background:url('diensten.jpg');
	height:193px;
	width:890px;
}

.inleiding-container{
	margin-top:40px;
	margin-bottom:20px;
}

.diensten-container{
	margin-bottom:40px;
}

.overige-diensten-container{
	margin-bottom:40px;
}

.review-container{
	margin-bottom:40px;
	font-size:14px;
	font-family: serif;
	font-style:italic;
	.review-author{
		font-size:12px;
	}
}

.dienst {
	&:hover {
		background:white;
		opacity:0.4;
		filter:alpha(opacity=40);	
	}
}

.dienst-links {
	float:left;
	height:193px;
	width:286px;
	margin-right:21px;
}

.dienst-midden {
	float:left;
	height:193px;
	width:276px;
	margin-right:21px;
}

.dienst-rechts {
	float:left;
	width:286px;
	height:193px;
}	
