// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.slider-inner {
	height:200px;
	//Width is set to number of pictures times 280 in slider partial
}

.slider-outer {
	height:200px;
	overflow:hidden;
}

.picture {
	width:280px;
	height:200px;
	float:left;
}
